# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip-debug.log
pip-log.txt

# Database
*.db
*.db-shm
*.db-wal

# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db 